#sidebar1 .topic1,
#main .topic1{
	font-size:1.4em;
	font-weight:normal;
}
#main .topic1,
#main .topic2,
#nav-left .topic2{
	text-transform:uppercase;
}
#article .topic1,
#product .topic1{
	text-transform:none;
}
body{
	background-color:#204544;
}
#header{
	background:url("header.png") no-repeat top left;
}
#header  .nav2 li span{
	background: url("nav2_line_border.png") no-repeat top right;		
}
.footer .nav li span{
	background: url("footer_line_border.png") no-repeat top right;		
}
#sidebar1 .account{
	background:url("member_top.png") no-repeat top left;
}
.bg_topic{
	background: url("topic_column.png") repeat-x center left;	
}
.footer{
	background: url("footer.png") no-repeat top left;			
}
.bullets{
	background: url("icon_topic_discussion.png") no-repeat center left ;
}
.widgets{
	background: url('widgets.png') no-repeat ;
}
.banners{
	background: url('banners.png') no-repeat center center ;
}
.buttons{
	background: url('buttons.png') no-repeat;
}
/*------------------- Font Color --------------------*/

#header,
#header a,
#header .nav li a,
#header .cart_status a,
#collection .subcategory a,
#header .nav2 li a,
#discussion .listing th,
#cart .items th,
#footer a{
	color:#f8f1c7;		
}
#footer .copyright,
#footer .copyright a,
#footer .copyright a:hover,
#main .column small,
#blog .author,
#article .author,
#cart_form .fl,
#discussion .breadcrumb a,
#discussion .message a,
#comments li .meta span,
#main .padding a,
#sidebar1 .bullets small{
	color:#777;			
}
#sidebar1 .nav-left .active a,
#blog .details .topic2 a,
#sidebar1 li a{
	color:#464646;	
}
#main,
#footer,
#sidebar1 .account,
#sidebar1 .logged_in,
#sidebar1 .account .button,
#sidebar1 .stats dd,
#discussion .message a:hover
#main a:hover,
#main .column li a,
#main #product .topic1 a,
#main #article .topic1,
#frontpage .column .topic2,
#discussion .breadcrumb a:hover,
#collection .subcategory a:hover,
#sidebar1 .account .logged_in  li a:hover,
#sidebar1 li a:hover{
	color:#2e2e2e;
}
#sidebar1 .account .button{
	color:#fff;	
}
#discussion .breadcrumb a:hover,
#collection .subcategory a:hover{
	color:#000;
}
#main .topic1,
#sidebar1 .topic2,
#header .logo_wrapper .site_name,
#header a:hover,
#header .logged_in .topic2,
#header .nav a:hover,
#header .nav2 a:hover,
#footer a:hover,
.notice_wrapper .more,
#sidebar1 .bullets a:hover,
#header .cart_status a:hover,
#sidebar1 .account .logged_in  li a,
#sidebar1 .topic2 a,
#blog .details .topic2 a:hover,
#blog .excerpt a,
#blog .excerpt a:hover,
#main .padding a:hover,
#frontpage .price,
#collection .grid .price{
	color:#738b59;
}
/*------------------- Background Color --------------------*/
#collection .subcategory a{
  background-color:#738b59;	
}
#collection .subcategory a:hover{
  background-color:#d8f5b8;
}
#discussion .page .padding,
#comments li .meta,
#discussion .listing .hover{
	background-color:#f2fcef;
}
#sidebar1 .account .signup{
	background-color:#2e2e2e;
}
#sidebar1 .nav-left .active a,
#sidebar1 .list li a:hover,
#main .column li a:hover{
	background-color:#c8dbb3;
}
#sidebar1 .articles{
	background-color:#5e5e5e;
}
#header .nav2{
	background-color:transparent;
}

/*------------------- Border Color --------------------*/
#discussion .listing td,
#blog .padding li,
#main .column ul li,
#cart_form td{
	border-bottom:1px dotted #ededed;
}
#sidebar1 .articles li{
	border-bottom:1px dotted #7a7a7a;
}
#sidebar1 .list li{
	border-bottom:1px solid #f1f1f1;
}
#header .cart_stat{
		border:1px solid gray;
}
#header .nav li{
	border-right:1px dotted #555;
}
#main .column{
	border:1px solid #ededed;
}